html{
	font-family: 'Quicksand', sans-serif;
}

main{
	display: flex;
}

body{
	margin: 0;
}

.sidebar{
	background-color:#384047;
	width: 130px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.sidebar i{
	margin-top: 50px;
	color: #788188;
}

 .sidebar i:hover{
 	color: white;
 }

 .contenair{
 	background-color: #edeff0;
 }

 .entete{
 	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
 	padding-top: 25px;
 	padding-bottom: 15px;
 	/*box-shadow: inset 0px 2px 2px 2px #ededed;*/
 }

 header img{
 	border: solid;
 	border-color: #e5e7e8;
 	border-radius: 50%;
 	width: 100px;
 }

 h1{
 	font-size: 22px;
 	color: #DD5555;
 }

 h2{
 	font-size: 18px;
 	font-family: 15px;
 	color: #7d7d7d;
 }

 p{
 	color: #7d7d7d;
 }

 .entete p{
 	text-align: left;
 	padding-left: 20px;
 }

 input{
 	color: white;
 	background-color: #dd5555;
 	border-style: none;
 	padding: 11px 8px;
 	border-radius: 5px;
 	opacity: 0.9;
 }

 input:hover{
 	background-color: #e50b0b;
 }

 .network{
 	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	padding: 50px 100px 0 70px;
 	height: 100px;
 }

 .network_box{
 	display: flex;
 	justify-content: center;
 	color: #7d7d7d; 
 }

 .facebook, .linkedin, .twitter{
 	line-height: 0.1rem;
 	padding-left: 40px;
 	opacity: 0.5;
 	text-align: center;
 }

span{
	display: block;
	line-height: 1.5rem;

}
 a{
 	text-decoration: none;
 	color: #7d7d7d;
}

a:hover{
	color: #e50b0b;
}

.movies{
	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
}

h3{
	padding-top: 35px;
	font-size: 18px;
	color: #7d7d7d;
}

.m1, .m2, .m3{
	display: flex;
	text-align: left;
	padding-left: 33px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.texte{
	padding-left: 15px;
}

img{
	width: 80px;
}

footer{
	background-color: white;
 	margin: 30px 67px 20px;
 	border-radius: 5px;
 	text-align: center;
}

.foot{
	font-size: 18px;
	color: #7d7d7d;
}

.icon{
	color: #7d7d7d;
}

.icon i{
	
	padding-left: 50px;
	padding-bottom: 40px;
	padding-top: 30px;
}

.fa-heart:hover, .fa-share:hover, .fa-star:hover{
	color: #e50b0b;
}

.lien_t{
	opacity: 0.4;
}

.lien_t:hover{
	color: #FF1F20;
}